{% load static %}
<section class="seccion-oscura footer ">
    <div class="footer-div max-width">

        <ul class="footer-ul">
            <h2>Features</h2>
            <li class="footer-li">
                <p>Upload your files</p>
            </li>
            <li class="footer-li">
                <p>Manage your files</p>
            </li>
            <li class="footer-li">
                <p>Get URL of your files</p>
            </li>
            <li class="footer-li">
                <p>Streaming</p>
            </li>
        </ul>

        <ul class="footer-ul">
            <h2>Community</h2>
            <li class="footer-li">
                <p>Contact</p>
            </li>
            <li class="footer-li">
                <p>Support</p>
            </li>
            <li class="footer-li">
                <p>Developers</p>
            </li>
        </ul>

        <ul class="footer-ul">
            <h2>Language</h2>
        </ul>


    </div>
    <img src="{% static 'img/streamby-logo.svg' %}" alt="streamby-logo" width="200px">
</section>